agente_telegram_MCP.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "a5b8fd0c-0db6-405a-b841-280029c7f3a4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        100,
        260
      ],
      "id": "2bdaea0d-5282-4f16-8c24-6804b04f1f80",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n-main-hwkg.onrender.com/mcp/MCP/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        300,
        260
      ],
      "id": "5229132c-93c3-4fc5-8bea-7758e17ef7e5",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -120,
        260
      ],
      "id": "ea401250-e407-4a64-9d8f-dd656d21b36b",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "1LWjrn7ycRV53Nfh",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -220,
        20
      ],
      "id": "b421617c-5eb7-44dc-8d9c-322e8466880c",
      "name": "Telegram Trigger",
      "webhookId": "c475c50b-17c2-4344-b417-edef69d629d1",
      "credentials": {
        "telegramApi": {
          "id": "QRfXZF7jCnnVI1X7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        360,
        0
      ],
      "id": "0ff18e19-3e30-41e1-b468-446eef7adfb5",
      "name": "Telegram",
      "webhookId": "1c8c27ca-049d-453c-9365-1fc522de41be",
      "credentials": {
        "telegramApi": {
          "id": "QRfXZF7jCnnVI1X7",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ceb35810-d37c-42fb-b655-feeaf6cf6c5b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "76d06e713bebb7bc9b9e626e36c1467c4a24cfb97d78fb0d11a05b3d52046b8e"
  },
  "id": "jZST9Be7Kk3IHiTR",
  "tags": []
}